/*---------------------------------------- 
             registration.html
------------------------------------------*/
select{
     color:red;     
}
option:not(first-child) {
     color: black;
}