/*---------------------------
      Registration start 
---------------------------*/
#regisForm{     
     background:rgba(0, 0, 0, 0.721);
     height: 100%;
     color: white;
}


/*---------------------------
      Login form start 
---------------------------*/
.loginStart{
      background-image: url('../img/loginback.jpg');
}

.loginform {
     background:rgba(0,0,0,0.5);
     height: 100%;
     color: white;
}

.indexStart{
      height: 100%;
     color: white;
}
